@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Kalam:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kalam', cursive;
}

.nav-list, .nav-anchors, button {
    
    font-weight: 500;
    font-size: 22px;
    color: #434C45;
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 15%;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links, .nav-anchors {
    padding: 0px 20px;
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #628A60;
    text-decoration: underline solid transparent;
    transition: text-decoration 1s ease;
    font-weight: 700;
}

button {
    padding: 15px 30px;
    background-color: #628A60;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: whitesmoke;
}

button:hover {
    background-color: rgba(0,228,52,0.5);
    box-shadow: 0 4px 8px #434C45;
}

.logo {
    cursor: pointer;
    height: 8rem;
    width: 8rem;
    border-radius: 10px;
    border: 1px solid black;
}

/* Main */

  .product-grid {
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15%;
    align-items: center;
    justify-content:center;
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .product {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
  }

/* footer */

  footer {
    width: 100%;
    bottom: 0;
    position: fixed;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    /* min-height: 20vh; */
    background-image: linear-gradient(to top, #628A60, whitesmoke);
}

.section-grid-containers {
    margin: 20px 20px 20px 20px;
    display: grid;
    grid-template-rows: 0.3fr 1fr;
    justify-content: center;
    /* padding: 20px; */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 0.25px solid whitesmoke;
    color: whitesmoke;
}

.foot-paras {
    padding-top: 10px;;
    font-weight: 500;
    font-size: 18px;
    color: #434C45;
    text-decoration: none;
    text-align: center;
}

.fa {
    padding: 40px;
    font-size: 80px;
    width: 100px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
  }

.fa-facebook {
    color: darkblue;
}

.fa-twitter {
    color: #657EE0;
}
.fa-instagram {
    color: lightcoral;
}

.fa-snapchat {
    color: rgb(225, 225, 57);
}

#social-logo-container {
    padding-right: 20px;
}

#footer-site-map {
    width: auto;
    display: grid;
    height: auto;
    list-style: none;
    justify-content: center;
}

.site-map-anchor {
    text-decoration: none;
    font-size: 13px;
    color: #434C45;
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-map-anchor:hover {
    color: #00E434;
    text-decoration: underline solid transparent;
    transition: text-decoration 1s ease;
}

#location {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    height: auto;
    width: auto;
    border-radius: 8px;
}