
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    font-family: "Montserrat Alternates", sans-serif;
}

.nav-list, .nav-anchors, button {
    
    font-weight: 500;
    font-size: 22px;
    color: #434C45;
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 15%;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links, .nav-anchors {
    padding: 0px 20px;
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #00E434;
    text-decoration: underline solid transparent;
    transition: text-decoration 1s ease;
    font-weight: 700;
}

button {
    padding: 15px 30px;
    background-color: rgba(0,228,52,1);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,228,52,0.5);
    font-weight: 650;
}

.logo {
    cursor: pointer;
    height: 8rem;
    width: 8rem;
    border-radius: 10px;
    border: 1px solid black;
}

#sales-offer-container h5 {
    color:#434C45;
    font-style: italic;
    border: 1px solid #434C45;
    box-shadow: 5px 5px 10px 0px #daf6d9, -5px -5px 10px 0px #dff2e8;
    display: flex;
    justify-content:center;
    text-align: center;
}

.background-img-container {
    
    border-bottom: 1px solid #434C45;
    text-align: center;
    position: relative;
}

.background-img {
    display: block;
    max-width: 100%;
    height: auto;
    opacity: 0.9;
}

.tagline {
    width: 100%;
    font-size: 35px;
    font-weight: 650;
    text-indent: 20px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    text-align: center;
    padding: 8px 12px;
    box-shadow: 5px 5px 10px 0px #daf6d9, -5px -5px 10px 0px #dff2e8; 
    opacity: 0.8;
    background-color: #daf6d9;
    
}

footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    /* min-height: 20vh; */
    background-image: linear-gradient(to top, #daf6d9, #daf5de, #dbf4e2, #ddf3e5, #dff2e8, #e0f2ec, #e3f2ef, #e7f1f1, #ebf2f4, #eff2f5, #f3f4f5, #f5f5f5);
}

.section-grid-containers {
    margin: 20px 20px 20px 20px;
    display: grid;
    grid-template-rows: 0.3fr 1fr;
    justify-content: center;
    /* padding: 20px; */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 0.25px solid #434C45;
}

.foot-paras {
    padding-top: 10px;;
    font-weight: 500;
    font-size: 18px;
    color: #434C45;
    text-decoration: none;
    text-align: center;
    
}

.fa {
    padding: 40px;
    font-size: 80px;
    width: 100px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
  }

.fa-facebook {
    color: darkblue;
}

.fa-twitter {
    color: #657EE0;
}
.fa-instagram {
    color: lightcoral;
}

.fa-snapchat {
    color: rgb(225, 225, 57);
}

#social-logo-container {
    padding-right: 20px;
}

#footer-site-map {
    width: auto;
    display: grid;
    height: auto;
    list-style: none;
    justify-content: center;
}

.site-map-anchor {
    text-decoration: none;
    font-size: 13px;
    color: #434C45;
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-map-anchor:hover {
    color: #00E434;
    text-decoration: underline solid transparent;
    transition: text-decoration 1s ease;
}

#location {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    height: auto;
    width: auto;
    border-radius: 8px;
}

