
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

li, a, button {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #434C45;
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 15%;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links li a {
    display: inline-block;
    padding: 0px 20px;
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #00E434;
    text-decoration: underline solid transparent;
    transition: text-decoration 1s ease;
    font-weight: 700;
}

button {
    padding: 15px 30px;
    background-color: rgba(0,228,52,1);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,228,52,0.5);
    font-weight: 650;
}

.logo {
    cursor: pointer;
    height: 8rem;
    width: 8rem;
    border-radius: 10px;
    border: 1px solid black;
}

.background-img-container {
    border-top:1px solid #434C45;
    border-bottom: 1px solid #434C45;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-size: contain;
    overflow: hidden; 
}

.background-img {
    background: center center cover no-repeat;
    display: block
}

.tagline-container {
    font-family: "Montserrat Alternates", sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
}

hr {
    color: #434C45;
}

footer {
    display: grid;
    grid-template-rows: 0.6fr;
    grid-template-columns: 1fr 1fr 1fr; 
    column-gap: 10px;
    min-height: 30vh;
    background: linear-gradient(rgb(67, 124, 205), rgb(69, 165, 255));
}

footer p {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-size: 28px;
    color: #434C45;
    text-decoration: none;
    text-align: center;
    padding-left: 10px;
}

.fa {
    margin-top: 80px;
    padding: 40px;
    font-size: 80px;
    width: 100px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
  }

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-site-map {
    margin: 30px 100px 30px 130px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 50px 50px 50px 50px 50px;
    text-decoration: none;
    list-style: none;
}

#location-container {
    display: grid;
    grid-template-rows: 0.3fr 1fr;
    justify-content: center;

}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    height: 300px;
    width: 550px;
}

